.container {
    width: 500px;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}